@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .my-link {
    color: orange;
    text-decoration: underline;
  }
}

/* Sets the colour of error page text brown for readability against the backgroud */
:has(> .next-error-h1) {
  color: theme(colors.starick-brown);
}
