@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .my-link {
    color: orange;
    text-decoration: underline;
  }
}

/* Makes the text of error pages brown for readability */
:has(> .next-error-h1) {
  color: theme(colors.starick-brown);
}
