.frame {
  align-items: center;
  background-color: #ffffff;
  display: inline-flex;
  gap: 32px;
  height: 64px;
  padding: 10px 32px;
  position: relative;
}

.frame .layer {
  height: 36px;
  position: relative;
  width: 154.09px;
}

.frame .navbar-menu-button-component {
  flex: 0 0 auto !important;
}
